PORT=5000
MONGODB_URI=mongodb+srv://srinivasburri5384_db_user:sushma%4012@yourneeds.amexgdf.mongodb.net/ai-project-generator
GOOGLE_GEMINI_API_KEY=AIzaSyCkw8KrE4Yu6EdoqWL5qGZGoPB3PhE-Kw0
NODE_ENV=development
VITE_BACKEND_URL=https://ai-project-generator-qzps.onrender.com